name: Generate Snake

# Controls when the action will run
on:
  schedule:
    # Runs at 00:00 and 12:00 UTC every day
    - cron: "0 */12 * * *"
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Run on every push to main branch
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      # Checkout the code
      - name: Checkout
        uses: actions/checkout@v3
      
      # Generate the snake
      - name: Generate Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: sujal-shashank  # REPLACE WITH YOUR USERNAME
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
      
      # Push the generated files to output branch
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
